<div class="panel panel-default">
				<div class="panel-heading">Area of Specialization</div>
				<div class="panel-body">
					<form id="specialization" class="form">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-5">
									<select multiple="" id="areofspecialization" class="form-control">
										<option>Basic Computer Science Concepts(10)</option>
										<option>Basic Electronics(10)</option>
									</select>
								</div>
								<div style="text-align: center;" class="col-xs-2">
									<br>
									<button id="add">&gt;&gt;&gt;</button>
									<br><br>
									<button id="remove">&lt;&lt;&lt;</button>
								</div>
								<div class="col-xs-5">
									<select multiple="" id="get-areofspecialization" class="form-control">
										<option>Algorithms and Complexity</option>
										<option>Architecture and Organization</option>
										<option>Computational Science</option>
										<option>Digital Signal Processing</option>
										<option>Discrete Structure</option>
										<option>Embedded and Control System</option>
										<option>General Computer Science</option>
										<option>Robotics</option>
										<option>Software Engineering</option>
										<option>Graphics and Visual Computing</option>
										<option>Human-Computer Interaction</option>
										<option>Information Management</option>
										<option>Intelligent Systems</option>
										<option>Net-centric Computing</option>
										<option>Operating Systems</option>
										<option>Programming Languages</option>
										<option>Social and Professional Issues</option>
										<option>Others: Please specify</option>
									</select>
								</div>
							</div>
							<br>
							<div style="padding-left: 15px;" class="form-group">
								<button id="increase" class="btn btn-default">Increase Level</button>
								<button id="decrease" class="btn btn-default">Decrease Level</button>
							</div>
						</div>
					</form>
				</div>
			</div>