
<div class="panel panel-default">
	<div class="panel-body">
		<label for="command">Commands Executed: </label>
		<select id="command" multiple class="faculty form-control">
			<option></option>
		</select>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-4">
		<div class="form-group">
			<input class="max_width" type="text" class="form-control" id="commandinput">
		</div>
	</div>

	<div class="col-xs-1">
		<button id="execute" type="submit" class="btn btn-default">Execute</button>
	</div>

	<div class="col-xs-1">
		<button id="clear" type="submit" class="btn btn-default">Clear Command</button>
	</div>

	<div class="col-xs-1">
		<button id="clearlist" type="submit" class="btn btn-default">Clear Command List</button>
	</div>
</div>