<div class="row main">
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-heading">Course List:</div>
			<div class="panel-body">
				<select id="courselist" multiple class="faculty form-control">
				</select>
			</div>
			<div style="padding-bottom: 10px;" class="row">
				<div class="col-xs-6">
					<button style=" width: 100%;" id="showAddCourse" data-target="#addCourse" data-toggle="modal" class="btn btn-default">Add Course</button>
				</div>
				<div class="col-xs-6">
					<button style=" width: 100%;" id="deleteCourse" class="btn btn-default">Remove Course</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-8">
		<div class="panel panel-default">
			<div class="panel-heading">General Information</div>
			<div class="panel-body">
				<form id="update" class="form">
					<div class="row">
						<div class="form-group">
							<label for="code">Course Code: </label>
							<input type="text" class="form-control" name="code" value="" readonly>
						</div>
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" name="name" required>
						</div>
						<div class="form-group">
							<label for="description">Description</label>
							<input type="text" class="form-control" name="description" >
						</div>
						<div class="form-group">
							<label for="unit">Units</label>
							<input type="text" maxlegth="3" style="width:50px;" class="form-control" name="unit" required>
						</div>
						<div class="form-group">
							<label for="phase_code">Phase</label>
							<select name="phase_code" class="form-control">
								<option>Proposal</option>
							</select>
						</div>
						<div class="form-group">
							<label for="department_code">Department</label>
							<select name="department_code" class="form-control">
								<option>Computer Technology</option>
							</select>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">Regular Defense</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-2">
										<label>General Schedule</label>
									</div>
									<div class="col-xs-2">
										<select style="width:90px;" name="start_regular_defense_week" class="form-control">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                      <option value="9">9th</option>
                      <option value="10">10th</option>
                      <option value="11">11th</option>
                      <option value="12">12th</option>
										</select>
									</div>
									<div class="col-xs-1 middle">
										<label for="">To</label>
									</div>
									<div class="col-xs-2">
										<select style="width:90px;" name="end_regular_defense_week" class="form-control">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                      <option value="9">9th</option>
                      <option value="10">10th</option>
                      <option value="11">11th</option>
                      <option value="12">12th</option>
										</select>
									</div>
									<div class="col-xs-2">
										<label >Week</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-xs-2">
										<label for="regular_defense_minute">Duration</label>
									</div>
									<div class="col-xs-1">
										<input type="text"  style="width:50px;" class="form-control" name="regular_defense_minute" pattern="[0-9]+" title="0-9">
									</div>
									<div class="col-xs-1">
										<label for="regular_defense_minute">Minutes</label>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="checkbox">
											<label>
												<input name="regular_defense_applicable" type="checkbox" value="0">applicable
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">Redefense</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-2">
										<label for="">General Schedule</label>
									</div>
									<div class="col-xs-2">
										<select style="width:90px;" name="start_redefense_week" class="form-control">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                      <option value="9">9th</option>
                      <option value="10">10th</option>
                      <option value="11">11th</option>
                      <option value="12">12th</option>
										</select>
									</div>
									<div class="col-xs-1 middle">
										<label for="">To</label>
									</div>
									<div class="col-xs-2">
										<select style="width:90px;" name="end_redefense_week" class="form-control">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                      <option value="9">9th</option>
                      <option value="10">10th</option>
                      <option value="11">11th</option>
                      <option value="12">12th</option>
										</select>
									</div>
									<div class="col-xs-2">
										<label >Week</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-xs-2">
										<label for="redefense_minute">Duration</label>
									</div>
									<div class="col-xs-1">
										<input type="text"  style="width:50px;" class="form-control" name="redefense_minute" pattern="[0-9]+" title="0-9">
									</div>
									<div class="col-xs-1">
										<label for="redefense_minute">Minutes</label>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="checkbox">
											<label>
												<input name="redefense_applicable" type="checkbox" value="0">applicable
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">Most Outstanding Thesis Defense</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-2">
										<label for="lastname">General Schedule</label>
									</div>
									<div class="col-xs-2">
										<select style="width:90px;" name="start_outstanding_defense_week" class="form-control">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                      <option value="9">9th</option>
                      <option value="10">10th</option>
                      <option value="11">11th</option>
                      <option value="12">12th</option>
										</select>
									</div>
									<div class="col-xs-1 middle">
										<label for="">To</label>
									</div>
									<div class="col-xs-2">
										<select style="width:90px;" name="end_outstanding_defense_week" class="form-control">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                      <option value="9">9th</option>
                      <option value="10">10th</option>
                      <option value="11">11th</option>
                      <option value="12">12th</option>
										</select>
									</div>
									<div class="col-xs-2">
										<label >Week</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-xs-2">
										<label for="outstanding_defense_minute">Duration</label>
									</div>
									<div class="col-xs-1">
										<input type="text"  style="width:50px;" class="form-control" name="outstanding_defense_minute" pattern="[0-9]+" title="0-9">
									</div>
									<div class="col-xs-1">
										<label for="outstanding_defense_minute">Minutes</label>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="checkbox">
											<label>
												<input name="outstanding_defense_applicable" type="checkbox" value="0">applicable
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="deadline_of_deliverable_week">Deadline of Deliverables</label>
							<div class="row">
								<div class="col-xs-3">
									<select name="deadline_of_deliverable_week" style="width: 50px;" class="form-control">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                      <option value="9">9th</option>
                      <option value="10">10th</option>
                      <option value="11">11th</option>
                      <option value="12">12th</option>
									</select>
								</div>
								<div class="col-xs-3">
									<label for="deadline_of_deliverable_week">Week</label>
								</div>
							</div>
							<button type="submit" class="btn btn-default pull-right">Update Changes</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="addCourse">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add Course Record</h4>
			</div>
			<form id="add" class="form">
				<div class="modal-body">
					<div class="row">
						<div class="form-group">
							<label for="code">Course Code</label>
							<input type="text" class="form-control" name="code" required>
						</div>
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" name="name" required>
						</div>
						<div class="form-group">
							<label for="description">Description</label>
							<input type="text" class="form-control" name="description">
						</div>
						<div class="form-group">
							<label for="unit">Units</label>
							<input type="number" maxlegth="3" style="width:50px;" class="form-control" name="unit" required>
						</div>
						<div class="form-group">
							<label for="phase_code">Phase</label>
							<select name="phase_code" class="form-control">
								<option>Title Defense</option>
							</select>
						</div>
						<div class="form-group">
							<label for="department_code">Department</label>
							<select name="department_code" class="form-control">
								<option>Computer Technology</option>
							</select>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">Regular Defense</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-2">
										<label>General Schedule</label>
									</div>
									<div class="col-xs-2">
										<select style="width:90px;" name="start_regular_defense_week" class="form-control">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                      <option value="9">9th</option>
                      <option value="10">10th</option>
                      <option value="11">11th</option>
                      <option value="12">12th</option>
										</select>
									</div>
									<div class="col-xs-1 middle">
										<label for="">To</label>
									</div>
									<div class="col-xs-2">
										<select style="width:90px;" name="end_regular_defense_week" class="form-control">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                      <option value="9">9th</option>
                      <option value="10">10th</option>
                      <option value="11">11th</option>
                      <option value="12">12th</option>
										</select>
									</div>
									<div class="col-xs-2">
										<label >Week</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-xs-2">
										<label for="regular_defense_minute">Duration</label>
									</div>
									<div class="col-xs-1">
										<input type="text"  style="width:50px;" class="form-control" name="regular_defense_minute" value="0">
									</div>
									<div class="col-xs-1">
										<label for="regular_defense_minute">Minutes</label>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="checkbox">
											<label>
												<input name="regular_defense_applicable" type="checkbox" value="0">applicable
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">Redefense</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-2">
										<label>General Schedule</label>
									</div>
									<div class="col-xs-2">
										<select style="width:90px;" name="start_redefense_week" class="form-control">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                      <option value="9">9th</option>
                      <option value="10">10th</option>
                      <option value="11">11th</option>
                      <option value="12">12th</option>
										</select>
									</div>
									<div class="col-xs-1 middle">
										<label>To</label>
									</div>
									<div class="col-xs-2">
										<select style="width:90px;" name="end_redefense_week" class="form-control">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                      <option value="9">9th</option>
                      <option value="10">10th</option>
                      <option value="11">11th</option>
                      <option value="12">12th</option>
										</select>
									</div>
									<div class="col-xs-2">
										<label>Week</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-xs-2">
										<label for="redefense_minute">Duration</label>
									</div>
									<div class="col-xs-1">
										<input type="text"  style="width:50px;" class="form-control" name="redefense_minute" value="0">
									</div>
									<div class="col-xs-1">
										<label for="redefense_minute">Minutes</label>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="checkbox">
											<label>
												<input name="redefense_applicable" type="checkbox" value="0">applicable
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">Most Outstanding Thesis Defense</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-2">
										<label>General Schedule</label>
									</div>
									<div class="col-xs-2">
										<select style="width:90px;" name="start_outstanding_defense_week" class="form-control">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                      <option value="9">9th</option>
                      <option value="10">10th</option>
                      <option value="11">11th</option>
                      <option value="12">12th</option>
										</select>
									</div>
									<div class="col-xs-1 middle">
										<label for="">To</label>
									</div>
									<div class="col-xs-2">
										<select style="width:90px;" name="end_outstanding_defense_week" class="form-control">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                      <option value="9">9th</option>
                      <option value="10">10th</option>
                      <option value="11">11th</option>
                      <option value="12">12th</option>
										</select>
									</div>
									<div class="col-xs-2">
										<label >Week</label>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-xs-2">
										<label for="outstanding_defense_minute">Duration</label>
									</div>
									<div class="col-xs-1">
										<input type="text"  style="width:50px;" class="form-control" name="outstanding_defense_minute" value="0">
									</div>
									<div class="col-xs-1">
										<label for="outstanding_defense_minute">Minutes</label>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="checkbox">
											<label>
												<input name="outstanding_defense_applicable" type="checkbox" value="0">applicable
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="deadline_of_deliverable_week">Deadline of Deliverables</label>
							<div class="row">
								<div class="col-xs-3">
									<select name="deadline_of_deliverable_week" style="width: 50px;" class="form-control">
                      <option value="1">1st</option>
                      <option value="2">2nd</option>
                      <option value="3">3rd</option>
                      <option value="4">4th</option>
                      <option value="5">5th</option>
                      <option value="6">6th</option>
                      <option value="7">7th</option>
                      <option value="8">8th</option>
                      <option value="9">9th</option>
                      <option value="10">10th</option>
                      <option value="11">11th</option>
                      <option value="12">12th</option>
									</select>
								</div>
								<div class="col-xs-3">
									<label for="deadline_of_deliverable_week">Week</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-default">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>