<div class="row">
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-heading">Defense List:</div>
			<div class="panel-body">
				<select id="defenselist" multiple class="faculty form-control">
					<option></option>
				</select>
			</div>
		</div>
	</div>

	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-heading">General Information</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group">
						<label for="thesisId">Thesis ID: </label>
						<label id="thesisId"><u>12345678</u></label>
					</div>
					<div class="form-group">
						<label for="name">Name: </label>
						<label id="name"><u>Na</u></label>
					</div>
				</div>

				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">Regular Defense</div>
						<div class="panel-body">
							<form class="form">
								<div class="form-group">
									<label for="reg-panellist">Panel List: </label>
									<select stlye="min-width:250px;min-height:125px;" id="reg-panellist" class="form-control" multiple>
									</select>
									<label >*lead panel</label>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-xs-3">
											<label for="reg-initialverdict">Initial Verdict: </label>
										</div>
										<div class="col-xs-9">
											<label id="reg-initialverdict"></label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-xs-3">
											<label for="reg-finalverdict">Final Verdict: </label>
										</div>
										<div class="col-xs-9">
											<label id="reg-initialverdict"></label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-xs-3">
											<label for="reg-comment">Comment: </label>
										</div>
										<div class="col-xs-9">
											<label id="reg-comment"></label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<button id="add" type="submit" class="btn btn-default">Set Properties</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">Redefense</div>
						<div class="panel-body">
							<form class="form">
								<div class="form-group">
									<label for="redef-panellist">Panel List: </label>
									<select stlye="min-width:250px;min-height:125px;" id="redef-panellist" class="form-control" multiple>
									</select>
									<label >*lead panel</label>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-xs-3">
											<label for="redef-initialverdict">Initial Verdict: </label>
										</div>
										<div class="col-xs-9">
											<label id="redef-initialverdict"></label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-xs-3">
											<label for="redef-finalverdict">Final Verdict: </label>
										</div>
										<div class="col-xs-9">
											<label id="redef-finalverdict"></label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-xs-3">
											<label for="redef-Comment">Comment: </label>
										</div>
										<div class="col-xs-9">
											<label for="redef-Comment"></label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<button id="setproperties" type="submit" class="btn btn-default">Set Properties</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">Most Outstanding Thesis Defense</div>
						<div class="panel-body">
							<form class="form">
								<div class="form-group">
									<label for="outstanding-panellist">Panel List: </label>
									<select stlye="min-width:250px;min-height:125px;" id="outstanding-panellist" class="form-control" multiple>
									</select>
									<label >*lead panel</label>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-xs-3">
											<label for="outstanding-initialverdict">Initial Verdict: </label>
										</div>
										<div class="col-xs-9">
											<label for="outstanding-initialverdict"></label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-xs-3">
											<label for="outstanding-finalverdict">Final Verdict: </label>
										</div>
										<div class="col-xs-9">
											<label for="outstanding-finalverdict"></label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-xs-3">
											<label for="outstanding-comment">Comment: </label>
										</div>
										<div class="col-xs-9">
											<label for="outstanding-comment"></label>
										</div>
									</div>
								</div>

								<div class="form-group">
									<button id="setproperties" type="submit" class="btn btn-default">Set Properties</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>