			<div class="message-container">
			<button class="btn btn-default" id="add"><i class="fa fa-plus"></i></button>
				<div class="message-north">
					<ul class="message-user-list">
						<li>
							<a href="#">
								<span class="user-img"></span>
								<span class="user-title">Bryan Adams</span>
								<p class="user-desc">badams@music.com</p>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="user-img"></span>
								<span class="user-title">Enrique Iglesias</span>
								<p class="user-desc">enriqueiglesias@music.com</p>
							</a>
						</li>
					</ul>
					<div class="message-thread">
						<div class="message bubble-left">
							<label class="message-user">Bryan Adams</label>
							<label class="message-timestamp">2 Hours Ago</label>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat nunc ut nibh interdum tempus. Donec at lorem eget sapien iaculis porttitor id quis ligula feugiat nunc ut nibh justo eget elit aliquet interdum tempus.</p>
						</div>
						<div class="message bubble-right">
							<label class="message-user">Jack Johnson</label>
							<label class="message-timestamp">2 Hours Ago</label>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat nunc ut nibh interdum tempus. Donec at lorem eget sapien iaculis porttitor id quis ligula feugiat nunc ut nibh justo eget elit aliquet interdum tempus.</p>
						</div>
					</div>
				</div>
				<div class="message-south">
					<textarea cols="20" rows="3"></textarea>
					<button class="btn btn-default" id="send">Send</button>
					<button class="btn btn-default" id="attach"><i class="fa fa-paperclip"></i></button>
				</div>
			</div>