<div class="row">
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-heading">Flowchart List:</div>
			<div class="panel-body">
				<select id="flowchartlist" multiple class="faculty form-control">
					<option></option>
				</select>
			</div>
			<div style="padding-bottom: 10px;" class="row">
				<div class="col-xs-6">
					<button style=" width: 100%;"  data-target="#addFlowchart" data-toggle="modal" class="btn btn-default">Add Flowchart</button>
				</div>
				<div class="col-xs-6">
					<button style=" width: 100%;" id="deleteFlowchart" class="btn btn-default">Remove Flowchart</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-8">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">General Information</div>
				<div class="panel-body">
					<form id="general" class="form">
						<div class="form-group">
							<label for="facultyId">Flowchart Version: </label>
							<label name="facultyId"><u>1</u></label>
						</div>
						<div class="form-group">
							<label for="specialization">Specialization: </label>
							<label name="specialization"><u>CSE</u></label>
						</div>
						<div class="form-group">
							<label for="firstname">Name</label>
							<input type="text" class="form-control" name="firstname" required>
						</div>
						<div class="form-group">
							<label for="middlename">Description</label>
							<input type="text" class="form-control" name="firstname" required>
						</div>
						<div class="form-group">
							<button id="update" type="submit" class="btn btn-default">Update Changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">Course</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-5">
									<select multiple id="courselist" class="form-control">
										<option></option>
									</select>
								</div>
								<div style="text-align: center;" class="col-xs-2">
									<br>
									<button id="add">>>></button>
									<br><br>
									<button id="remove"><<<</button>
								</div>
								<div class="col-xs-5">
									<select multiple id="courses" class="form-control">
										<option></option>
									</select>
								</div>
							</div>
						</div>
					</form>
				</div>
				<br>
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">Pre-requisite</div>
						<div class="panel-body">
							<form class="form">
								<div class="form-group">
									<div class="row">
										<div class="col-xs-5">
											<select multiple id="prerequisitelist" class="form-control">
												<option></option>
											</select>
										</div>
										<div style="text-align: center;" class="col-xs-2">
											<br>
											<button id="add">>>></button>
											<br><br>
											<button id="remove"><<<</button>
										</div>
										<div class="col-xs-5">
											<select multiple id="prerequisite" class="form-control">
												<option></option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="addFlowchart">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add Faculty Record</h4>
			</div>
			<form id="add" class="form">
				<div style="width:50%; margin:0 auto;" class="modal-body">
					<div class="form-group">
						<label for="flowchartversion">Flowchart Version: </label>
						<input type="text" class="form-control" name="flowchartversion" required>
					</div>
					<div class="form-group">
						<label for="specialization">Specialization: </label>
						<select name="specialization" class="form-control">
							<option>Computer Technology</option>
							<option>Computer Science</option>
						</select>
					</div>
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" name="name" required>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" class="form-control" name="description" required>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="save" type="submit" class="btn btn-default">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>