<div style="width: 50%; margin: 0 auto;" class="panel panel-default">
	<div class="panel-heading">General Schedule</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-4">
				<div class="form-group">
					<label for="facultyId">Day </label>
					<select id="daylist" style="height: 177px;" id="currentrank" class="form-control max_width" multiple>
						<option>Monday</option>
						<option>Tuesday</option>
						<option>Wensday</option>
						<option>Thursday</option>
						<option>Friday</option>
						<option>Saturday</option>
						<option>Sunday</option>
					</select>
				</div>
			</div>

			<div class="col-xs-8">
				<div class="panel panel-default">
					<div class="panel-heading">Start Time</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<select id="starttimelist" class="form-control  max_width" multiple>
										<option></option>
									</select>
								</div>

								<div class="form-group">
									<button style=" width: 100%;" id="removeTime" class="btn btn-default">Remove Time</button>
								</div>
							</div>

							<div class="col-xs-6">
								<div class="form-group">
									<label for="time">Time </label>
									<select id="time" class="form-control">
										<option></option>
									</select>
								</div>
								<div class="form-group">
									<button style=" width: 100%;" id="addTime" class="btn btn-default">Add Time</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


