<div style="width: 50%; margin: 0 auto;" class="panel panel-default">
	<div class="panel-heading">General Schedule</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-4">
				<div class="form-group">
					<label>Day</label>
					<select id="daylist" style="height: 177px;" class="form-control max_width" multiple>
						<option value="1">Monday</option>
						<option value="2">Tuesday</option>
						<option value="3">Wednesday</option>
						<option value="4">Thursday</option>
						<option value="5">Friday</option>
						<option value="6">Saturday</option>
						<option value="7">Sunday</option>
					</select>
				</div>
			</div>

			<div class="col-xs-8">
				<div class="panel panel-default">
					<div class="panel-heading">Start Time</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<select id="starttimelist" class="form-control  max_width" multiple>
										<option></option>
									</select>
								</div>

								<div class="form-group">
									<button style=" width: 100%;" id="removeTime" class="btn btn-default">Remove Time</button>
								</div>
							</div>

							<div class="col-xs-6">
								<div class="form-group">
									<label for="time">Time </label>
									<input type="time" name="time" class="form-control" required>
								</div>
								<div class="form-group">
									<button style=" width: 100%;" id="addTime" class="btn btn-default">Add Time</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


