<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">

      <a class="navbar-brand" href="#" style="padding-left: 50px;">
        DLSU TCS
      </a>


      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-bypass>Record <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/faculty">Faculty</a></li>
            <li><a href="/student">Student</a></li>
            <li><a href="/thesis">Thesis Group</a></li>
            <li><a href="/room">Room</a></li>
            <li><a href="/holiday">Holiday</a></li>
            <li><a href="/administrative">Administration Position</a></li>
            <li><a href="/generalArea">General Area</a></li>
            <li><a href="/subArea">Sub-Area</a></li>
            <li><a href="/rankRecord">Rank</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Exit</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-bypass>Course <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/course">Course</a></li>
            <li><a href="/courseOffering">Course Offering</a></li>
            <li><a href="/flowchart">Flowchart</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Exit</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-bypass>Schedule <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/general">General</a></li>
            <li><a href="/schoolyear">School Year</a></li>
            <li><a href="/studentsch">Student</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Exit</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-bypass>Thesis <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/adviser">Adviser Roster</a></li>
            <li><a href="/panel">Panel Roster</a></li>
            <li><a href="/enrollment">Enrollment</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Exit</a></li>
          </ul>
        </li>
      </ul>

     <!-- <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-bypass>Application <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/defense">Defense History Submodule </a></li>
            <li><a href="/update">Update Thesis Grade Submodule </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Exit</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="/barcode" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Barcode <span class="caret"></span></a>
        </li>
      </ul> -->

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown top-drop">
          <select id="schoolyear" class="form-control" style="width: 140px !important;top: 10px;float: left;margin-right: 5px;">
          
          </select>
          <select id="term" class="form-control" style="width: 60px !important;top: 10px;">

          </select>
        </li>
      </ul>

    </div>
  </div>
</div>
</nav>