<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">Holiday</div>
		<div class="panel-body">
			<form id="holiday" class="form">
				<div class="row">
					<div class="col-xs-6">
						<label for="year">Display dates related in year: </label>
						<select id="year" class="form-control">
							<option>2014</option>
						</select>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">Time</div>
		<div class="panel-body">
			<form id="add" class="form">
				<div class="row">
					<div class="col-xs-8">
						<select id="holidaylist" multiple class="form-control max_width" style="min-height: 400px;">
							<option></option>
						</select>
					</div>
					<div class="col-xs-4">
						<div class="panel panel-default">
							<div class="panel-heading"> Date and Time </div>
							<div class="panel-body">
								<div class="form-group">
									<label for="datetime-from">From</label>
									<div class='input-group date' id='datetime-from'>
										<input name="from" type='text' class="form-control max_width" required/>
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="datetime-to">To</label>
									<div class='input-group date' id='datetime-to'>
										<input name="to" type='text' class="form-control max_width" required/>
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
								<br>
								<div class="form-group">
									<label for="description">Description</label>
									<textarea name="description" class="form-control" rows="5" required></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<button id="remove" type="submit" class="btn btn-default">Remove Holiday</button>
						</div>
					</div>

					<div class="col-xs-6">
						<div class="form-group pull-right">
							<button id="add" type="submit" class="btn btn-default">Add Holiday</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>