<div id="loginBox">
	<form id="loginForm" class="form-horizontal">
	<div class="well well-lg" id="loginPanel">
		<h3 id="loginLabel">DLSU TCS <small>Login</small></h3>
		  <div class="form-group">
		    <label for="email" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <input type="email"  value="" class="form-control" name="email" id="email" placeholder="Email" required>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="password" class="col-sm-2 control-label">Password</label>
		    <div class="col-sm-10">
		      <input type="password" value="" class="form-control" name="password" id="password" placeholder="Password" required>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-info" id="loginBtn">Sign in</button>
			  <button type="button" class="btn btn-warning" id="showForgetPasswordBtn" data-toggle="modal" data-target="#forgetPasswordModal">Reset password</button>
		    </div>
		  </div>
		  <div class="notificationDiv"></div>
	</div>
	</form>
<div>