 <div class="container">
 	<h1 style="text-align:center;">DLSU Thesis Coordinator System</h1>
 	<form class="form-signin">
 		<h2 class="form-signin-heading">Please sign in</h2>
 		<label for="username" class="sr-only">Username</label>
 		<input type="text" id="username" name="username" class="form-control" placeholder="username or email" required autofocus>
 		<label for="password" class="sr-only">Password</label>
 		<input type="password" id="password" name="password" class="form-control" placeholder="password" required>
 		<button class="btn btn-lg btn-primary btn-block login" type="submit">Login</button>
 	</form>
 </div> 

 <style type="text/css">
 body {
 	padding-top: 40px;
 	padding-bottom: 40px;
 	background-color: #014023;
 }
 .form-signin {
 	max-width: 330px;
 	padding: 15px;
 	margin: 0 auto;
 }
 .form-signin .form-signin-heading,
 .form-signin .checkbox {
 	margin-bottom: 10px;
 }
 .form-signin .checkbox {
 	font-weight: normal;
 }
 .form-signin .form-control {
 	position: relative;
 	height: auto;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	padding: 10px;
 	font-size: 16px;
 }
 .form-signin .form-control:focus {
 	z-index: 2;
 }
 .form-signin input[type="email"] {
 	margin-bottom: -1px;
 	border-bottom-right-radius: 0;
 	border-bottom-left-radius: 0;
 }
 .form-signin input[type="password"] {
 	margin-bottom: 10px;
 	border-top-left-radius: 0;
 	border-top-right-radius: 0;
 }
 button.login {
 	background-color: #014023 !important;
 	border-color: #07522F !important;
 }
 </style>