<span id="uploadError">There was a problem with the upload. Please try again.</span>
<span id="openFileSelection">Upload new logo</span>
<form id="logoUploadForm" action="<%=App.logoUploadUrl%>" method="post" enctype="multipart/form-data">
    <input type="file" id="fileUploadField" name="file"><br>
	<input type="text" name="name" value="webapps/v1/img/logo.png"><br>
</form>
<div id="progressContainer">
	<span id="uploadProgressText">Upload in progress</span>
	<div id="progress">
	    <div id="bar"></div>
	</div>
</div>
<table class="table">
	<!--tr>
		<td>Max file Size</td>
		<td>None</td>
	</tr-->
	<tr>
		<td>Height</td>
		<td>60px</td>
	</tr>
	<tr>
		<td>Max width</td>
		<td>250px</td>
	</tr>
</table>