<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="form">
				<div class="form-group">
					<div class="row">
						<div class="col-xs-5">
							<label>Display faculty from the following: </label>
							<br>
							<label for="departmentlist">Department: </label>
							<select id="departmentlist" class="form-control max_width">
								<option></option>
							</select>
							<br>
							<label for="statuslist">Status: </label>
							<select id="statuslist" class="form-control max_width">
								<option></option>
							</select>
							<br>
							<label for="panellist">Panel List: </label>
							<select multiple id="panellist" class="form-control faculty max_width">
								<option></option>
							</select>
						</div>
						<div style="text-align: center;" class="col-xs-2">
							<br><br><br><br><br><br>
							<button id="add"> << </button>
							<br><br>
							<button id="remove"> >> </button>
						</div>
						<div class="col-xs-5">
							<label for="facultylist">Faculty List: </label>
							<select multiple id="facultylist" class="form-control faculty max_width">
								<option></option>
							</select>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>