	<div id="forgetPasswordModal" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-form-id="forgetPasswordForm"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Reset Password</h4>
	      </div>
		  <form id="forgetPasswordForm" class="form-horizontal">
	      <div class="modal-body">
			  <div class="form-group">
			    <label class="col-sm-4 control-label">Email</label>
			    <div class="col-sm-8">
			      <input type="email" required name="email" class="form-control" id="forgetEmail" placeholder="Email">
				  <input type="hidden" name="url" value="<%= data.forgetPasswordUrl %>">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-4 control-label">Confirm Email</label>
			    <div class="col-sm-8">
			      <input type="email" required name="confirmEmail" class="form-control" id="forgetConfirmEmail" placeholder="Confirm Email">
			    </div>
			  </div>
			  <div class="notificationDiv"></div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" data-form-id="addPatientForm">Close</button>
	        <button type="submit" class="btn btn-warning">Reset Password</button>
	      </div>
		  </form>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->