<div class="panel panel-default">
				<div class="panel-heading">General Information</div>
				<div class="panel-body">
					<form id="update" class="form-horizontal">
						<div class="row">
							<div style="padding-left: 30px;" class="col-xs-6">
								<div class="form-group">
									<label for="facultyId">Faculty ID: </label>
									<input type="hidden" class="form-control" name="facultyId" required="">
								</div>
								<div class="form-group">
									<label for="lastname">Current Password</label>
									<input type="password" class="form-control" name="newpassword" required="">
								</div>
								<div class="form-group">
									<label for="lastname">Current Password</label>
									<input type="password" class="form-control" name="currentpassword" required="">
								</div>
								<div class="form-group">
									<label for="lastname">Confirm Password</label>
									<input type="password" class="form-control" name="confirmpassword" required="">
								</div>
								
								<br/>
								<h5>Password Recovery</h5>
										<div class="form-group">
									<label for="lastname">Question</label>
									<input type="text" class="form-control" name="question" required="">
								</div>
								<div class="form-group">
									<label for="lastname">Answer</label>
									<input type="text" class="form-control" name="answer" required="">
								</div>
								<div class="form-group">
									<label for="lastname">Confirm</label>
									<input type="text" class="form-control" name="confirmanswer" required="">
								</div>
								
								<button type="submit" class="btn btn-default">Update Changes</button>
						</div>
					</form>
				</div>
			</div>