<div class="row main">
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-heading">Rank List:</div>
			<div class="panel-body">
				<select id="ranklist" multiple class="form-control max_width" style="min-height: 400px;">
					
				</select>
			</div>
			<div style="padding-bottom: 10px;" class="row">
				<div class="col-xs-6">
					<button style=" width: 100%;"  data-target="#addRank" data-toggle="modal" class="btn btn-default">Add Rank</button>
				</div>
				<div class="col-xs-6">
					<button style=" width: 100%;" id="deleteRank" class="btn btn-default">Remove Rank</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<form id="update" class="form">
			<div class="panel panel-default">
				<div class="panel-heading">General Information</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="rankCode">Rank Code: </label>
						<input type="text" class="form-control" name="rankCode" required>
						<input name="rankId" type="hidden"></label>
					</div>
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" name="name" required>
					</div>
					<div class="form-group">
						<label >Salary <span name="salaryinfo"> not updated (based from most recent salary)</span></label>
						<div class="form-group">
							<label for="fulltimepay">Full Time: PhP</label>
							<input type="text" class="form-control" name="fulltimepay">
						</div>
						<div class="form-group">
							<label for="parttimepay">Part Time: PhP</label>
							<input type="text" class="form-control" name="parttimepay">
						</div>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" class="form-control" name="description">
					</div>
					<button type="submit" class="btn btn-default pull-right">Update Changes</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal fade" id="addRank">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add Rank Record</h4>
			</div>
			<form id="add" class="form" style="width: 67%;margin: 0 auto;">
				<div class="modal-body">

					<div class="form-group">
						<label for="rankCode">Rank Code: </label>
						<input type="text" class="form-control" name="rankCode" required>
					</div>
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" name="name" required>
					</div>
					<div class="form-group">
						<label >Salary <span name="salaryinfo"> not updated (based from most recent salary)</span></label>
						<div class="form-group">
							<label for="fulltimepay">Full Time: PhP</label>
							<input type="text" class="form-control" name="fulltimepay">
						</div>
						<div class="form-group">
							<label for="parttimepay">Part Time: PhP</label>
							<input type="text" class="form-control" name="parttimepay">
						</div>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" class="form-control" name="description">
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="save" type="submit" class="btn btn-default">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>