<div class="row">
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-heading">School Year List:</div>
			<div class="panel-body">
				<select id="sylist" multiple class="faculty form-control">
				</select>
			</div>
			<div style="padding-bottom: 10px;" class="row">
				<div class="col-xs-6">
					<button style=" width: 100%;"  data-target="#addSchoolYear" data-toggle="modal" class="btn btn-default">Add School Year</button>
				</div>
				<div class="col-xs-6">
					<button style=" width: 100%;" id="deleteYear" class="btn btn-default">Remove School Year</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-8">
		<div class="panel panel-default">
			<div class="panel-heading">Schedule</div>
			<div class="panel-body">
				<form style="width:50%;margin:0 auto;" class="form main" id="update">
					<div class="form-group">
						<label for="syId">School Year:  </label>
						<label name="syId"></label>
						<input type="hidden" name="syId">
					</div>
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">First Term</div>
							<div class="panel-body">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="fterm-from-add">from:</label>
										<div class='input-group date' id='fterm_from_add'>
											<input type='text' name="fterm_from_add" class="form-control" required/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label for="fterm-to-add">To:</label>
										<div class='input-group date' id='fterm_to_add'>
											<input type='text' name="fterm_to_add" class="form-control" required/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">Second Term</div>
							<div class="panel-body">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="sterm-from-add">from:</label>
										<div class='input-group date' id='sterm_from_add'>
											<input type='text' name="sterm_from_add" class="form-control" required/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label for="sterm-to-add">To:</label>
										<div class='input-group date' id='sterm_to_add'>
											<input type='text' name="sterm_to_add" class="form-control" required/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
									<div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">Third Term</div>
							<div class="panel-body">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="tterm-from-add">from:</label>
										<div class='input-group date' id='tterm_from_add'>
											<input type='text' name="tterm_from_add" class="form-control" required/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label for="tterm-to-add">To:</label>
										<div class='input-group date' id='tterm_to_add'>
											<input type='text' name="tterm_to_add" class="form-control" required/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<button type="submit" class="btn btn-default">Update changes</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="addSchoolYear">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add School Year Schedule</h4>
			</div>
			<div class="modal-body">
				<form id="add" style="width:50%;margin:0 auto;" class="form">
					<div class="form-group">
						<label for="">School Year </label>
						<input type="text" class="form-control" name="start_sy" placeholder="from" pattern="[0-9]+" maxlength="4" minlength="4" required>
						<br>
						<input type="text" class="form-control" name="end_sy" placeholder="to" pattern="[0-9]+" maxlength="4" minlength="4" required>
					</div>
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">First Term</div>
							<div class="panel-body">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="fterm-from-add">from:</label>
										<div class='input-group date' id='fterm_from_add'>
											<input type='text' name="fterm_from_add" class="form-control" required/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label for="fterm-to-add">To:</label>
										<div class='input-group date' id='fterm_to_add'>
											<input type='text' name="fterm_to_add" class="form-control" required/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">Second Term</div>
							<div class="panel-body">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="sterm-from-add">from:</label>
										<div class='input-group date' id='sterm_from_add'>
											<input type='text' name="sterm_from_add" class="form-control" required/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label for="sterm-to-add">To:</label>
										<div class='input-group date' id='sterm_to_add'>
											<input type='text' name="sterm_to_add" class="form-control" required/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">Third Term</div>
							<div class="panel-body">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="tterm-from-add">from:</label>
										<div class='input-group date' id='tterm_from_add'>
											<input type='text' name="tterm_from_add" class="form-control" required/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label for="tterm-to-add">To:</label>
										<div class='input-group date' id='tterm_to_add'>
											<input type='text' name="tterm_to_add" class="form-control" required/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-default">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>