<div class="panel panel-default">
	<div class="panel-heading">Contact Settings</div>
	<div class="panel-body">
		<form class="form" id="contactSettingsForm">
		<table class="table table-bordered">
		<tr>
			<td>User ID</td>
			<td></td>
		</tr>
		<tr>
			<td>Contact Infomration Viewable by:</td>
			<td>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="thesisAdvises">
					    Thesis Advisees
					  </label>
					</div>
					
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="otherStudents">
					    Other Students
					  </label>
					</div>
					
					<div class="checkbox">
					  <label>
					   <input type="checkbox" value="otherFacultyMembers">
					    Other Faculty Members
					  </label>
					</div>
			</td>
		</tr>
		</table>
		<input type="submit" value="Save" class="btn btn-default">
		</form>
	</div>
</div>
