<div class="row main">
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-heading">Display Student form the following specialization:</div>
			<div class="panel-body">
				<select id="student_specialization" class="form-control">
					
				</select>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Student List:</div>
			<div class="panel-body">
				<select id="studentList" multiple class="faculty form-control">
					
				</select>
			</div>
			<div style="padding-bottom: 10px;" class="row">
				<div class="col-xs-6">
					<button style=" width: 100%;"  data-target="#addStudent" data-toggle="modal" class="btn btn-default">Add Student</button>
				</div>
				<div class="col-xs-6">
					<button style=" width: 100%;" id="deleteStudent" class="btn btn-default">Remove Student</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-8">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">General Information</div>
				<div class="panel-body">
					<form id="update" class="form-horizontal">
						<div class="row">
							<div style="padding-left: 30px;" class="col-xs-6">
								<div class="form-group">
									<label for="studentId">Student ID: </label>
									<label name="studentIdDummy"></label>
									<input type="hidden" name="studentId">
								</div>
								<div class="form-group">
									<label for="lastname">Last Name</label>
									<input type="text" class="form-control" name="lastname" required>
								</div>
								<div class="form-group">
									<label for="firstname">First Name</label>
									<input type="text" class="form-control" name="firstname" required>
								</div>
								<div class="form-group">
									<label for="middlename">MI</label>
									<input type="text" maxlength="2" class="form-control" name="middlename" required>
								</div>
								<div class="form-group">
									<label for="email">Email</label>
									<input type="email" class="form-control" name="email" required>
								</div>
								<div class="form-group">
									<label for="contact">Contact</label>
									<input type="tel" maxlength="11" class="form-control" name="contact" required pattern="[0-9]+">
								</div>
								<div class="form-group">
									<label for="flowchart">Flowchart</label>
									<select name="flowchart" class="form-control">
										
									</select>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label for="passsword">Password</label>
									<input type="text" class="form-control" name="password" required pattern=".{8,8}" required title="must 8 characters">
								</div>
								<br><br><br>
								<div class="form-group">
									<label for="sms">SMS no.</label>
									<input type="tel" maxlength="11" class="form-control" name="sms" required pattern="[0-9]+">
									<div class="checkbox">
										<label>
											<input type='hidden' value='0' name='notify'>
											<input name="notify" type="checkbox"> Notify Defense Schedule thru SMS
										</label>
									</div>
								</div>
								<div class="form-group">
									<label for="specialization">Specialization</label>
									<select name="specialization" class="form-control">

									</select>
								</div>
								<div class="form-group">
									<label for="status">Status</label>
									<select name="" class="form-control">
										<option>Active</option>
										<option>Inactive</option>
									</select>
								</div>
							</div>
							<button id="update" type="submit" class="btn btn-default pull-right">Update Changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">Current Schedule</div>
				<div class="panel-body">
					<form class="form" id="scheduleform">
						<div class="row">
							<div class="col-xs-4">
								<br>
								<select stlye="min-width:250px;min-height:125px;" id="schedules" class="form-control" multiple>
								</select>
							</div>
							<div class="col-xs-4">
								<div class="form-group">
									<label for="currsched-date-form">from:</label>
									<div class='input-group date' id='currsched-date-from'>
										<input type='text' name="currsched-date-from" class="form-control" required/>
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="currsched-date-to">To:</label>
									<div class='input-group date' id='currsched-date-to'>
										<input type='text' name="currsched-date-to" class="form-control" required/>
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="form-group">
									<label for="description">Description</label>
									<textarea id="description" class="form-control" rows="5"></textarea>
								</div>
							</div>

						</div>
						<div class="row">
							<div style="padding-left: 15px;" class="form-group">
								<button id="remove" class="btn btn-default">Remove Schedule</button>
								<button id="add" class="btn btn-default">Add Schedule</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">Thesis Information</div>
					<div class="panel-body">
						<form id="" class="form">
							<div class="col-xs-6">
								<div class="form-group">
									<label for="thesis_title"> Thesis Title: </label>
									<label id="thesis_title"> </label>
									<br><br>
									<label for="thesis_status"> Status: </label>
									<label id="thesis_status"> </label>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label for="enrollment_history">Enrollment History: </label>
									<select stlye="min-width:250px;min-height:125px;" id="enrollment_history" class="form-control" multiple>
										
									</select>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Faculty Add form -->
<div class="modal fade" id="addStudent">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add Student Record</h4>
			</div>
			<form id="add" class="form-horizontal">
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-1"></div>
						<div class="col-xs-4">
							<div class="form-group">
								<label for="studentId">Student ID: </label>
								<input type="tel" maxlength="8" class="form-control" name="studentId" required pattern=".{8,8}" required title="must 8 characters">
							</div>
							<div class="form-group">
								<label for="lastname">Last Name</label>
								<input type="text" class="form-control" name="lastname" required>
							</div>
							<div class="form-group">
								<label for="firstname">First Name</label>
								<input type="text" class="form-control" name="firstname" required>
							</div>
							<div class="form-group">
								<label for="middlename">MI</label>
								<input type="text" maxlength="2" class="form-control" name="middlename" required pattern="[A-Za-z.]+">
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" class="form-control" name="email" required>
							</div>
							<div class="form-group">
								<label for="contact">Contact</label>
								<input type="tel" maxlength="11" class="form-control" name="contact" required pattern="[0-9]+">
							</div>
							<div class="form-group">
								<label for="flowchart">Flowchart</label>
								<select name="flowchart" class="form-control">

								</select>
							</div>
						</div>
						<div class="col-xs-1"></div>
						<div class="col-xs-5">
							<div class="form-group">
								<label for="passsword">Password</label>
								<input type="text" class="form-control" name="password" required pattern=".{8,8}" required title="must 8 characters">
							</div>
							<br><br>
							<div class="form-group">
								<label for="sms">SMS no.</label>
								<input type="tel" maxlength="11" class="form-control" name="sms" >
								<div class="checkbox">
									<label>
										<input type='hidden' value='0' name='notify'>
										<input name="notify" type="checkbox"> Notify Defense Schedule thru SMS
									</label>
								</div>
							</div>
							<div class="form-group">
								<label for="specialization">Specialization</label>
								<select name="specialization" class="form-control">

								</select>
							</div>
							<div class="form-group">
								<label for="status">Status</label>
								<select name="" class="form-control">
									<option>Active</option>
									<option>Inactive</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-default">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>