<div class="row main">
	<div class="panel panel-default">
		<div class="panel-heading">Thesis Group</div>
		<div class="panel-body">
			<form id="thesisgroup" class="form">
				<div class="row">
					<label for="years">Display thesis group from the following school year: </label>
					<select id="years" class="form-control">
						
					</select>
				</div>
				<br>
				<div class="row">
					<label for="group">Thesis Group List </label>
					<select id="group" class="form-control max_width" multiple>
				
					</select>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-6">
						<button data-target="#addThesisGroup" data-toggle="modal" class="btn btn-default">Add Thesis Group</button>
						<button id="remove" class="btn btn-default">Remove Thesis Group</button>
					</div>
					<div class="col-xs-6">
						
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
<br>
<div class="row main">
	<div class="panel panel-default">
		<div class="panel-heading">General Information</div>
		<div class="panel-body">
			<form id="update" class="form">
				<div class="row">
					<div class="form-group">
						<label for="thesisid">Thesis Group ID: </label>
						<label name="thesisid"></label>
					</div>
					<div class="form-group">
						<label for="primary_name">Title: </label>
						<input type="text" class="form-control max_width" name="primary_name" required>
					</div>
					<div class="form-group">
						<label for="secondary_name">Secondary Title: </label>
						<input type="text" class="form-control max_width" name="secondary_name" required>
					</div>
					<div class="form-group">
						<label for="description">Description: </label>
						<input type="text" class="form-control max_width" name="description" required>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-4 no_padding">
								<label for="schoolyear">School Year </label>
								<select name="schoolyear" class="form-control" >
								</select>
							</div>
							<div class="col-xs-4 no_padding">
								<label for="termcompleted">Term Completed </label>
								<select name="termcompleted" class="form-control" >
								</select>
							</div>
							<div class="col-xs-4 no_padding">
								<label for="faculty_id">Adviser: </label>
								<select name="faculty_id" class="form-control" >
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<label for="proposalabstract">Proposal Abstract: </label>
						<input type="hidden" name="proposal_abstract" required>
						<select style="min-width: 100%;" name="proposalabstract" class="form-control" multiple>
						</select>
					</div>
					<div class="col-xs-6">
						<label for="finalabstract">Final Abstract: </label>
						<input type="hidden" name="final_abstract" required>
						<select style="min-width: 100%;" name="finalabstract" class="form-control" multiple>
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group">
						<button id="update" class="btn btn-default pull-right">Update Changes</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">Proponents</div>
		<div class="panel-body">
			<form id="proponentform" class="form">
				<div class="form-group">
					<div class="row">
						<div class="col-xs-5">
							<select multiple id="proponents" class="form-control max_width">
								<option>Basic Computer Science Concepts(10)</option>
								<option>Basic Electronics(10)</option>
							</select>
						</div>
						<div style="text-align: center;" class="col-xs-2">
							<br>
							<button id="addproponents" type="submit"> << </button>
							<br><br>
							<button id="removeproponents" type="submit"> >> </button>
						</div>
						<div class="col-xs-5">
							<label>Display student from the following specialization: </label>
							<select id="specializations" class="form-control max_width">
								<option>All</option>
							</select>
							<br>
							<select multiple id="students" class="form-control max_width">
								<option>Algorithms and Complexity</option>
								<option>Architecture and Organization</option>
								<option>Computational Science</option>
								<option>Digital Signal Processing</option>
								<option>Discrete Structure</option>
								<option>Embedded and Control System</option>
								<option>General Computer Science</option>
								<option>Robotics</option>
								<option>Software Engineering</option>
								<option>Graphics and Visual Computing</option>
								<option>Human-Computer Interaction</option>
								<option>Information Management</option>
								<option>Intelligent Systems</option>
								<option>Net-centric Computing</option>
								<option>Operating Systems</option>
								<option>Programming Languages</option>
								<option>Social and Professional Issues</option>
								<option>Others: Please specify</option>
							</select>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">Related Area</div>
		<div class="panel-body">
			<form class="form">
				<div class="form-group">
					<div class="row">
						<div class="col-xs-5">
							<select multiple id="thesisareas" class="form-control max_width">
								<option>Basic Computer Science Concepts(10)</option>
								<option>Basic Electronics(10)</option>
							</select>
						</div>
						<div style="text-align: center;" class="col-xs-2">
							<br>
							<button id="addthesisarea"> << </button>
							<br><br>
							<button id="removethesisarea"> >> </button>
						</div>
						<div class="col-xs-5">
							<select multiple id="areas" class="form-control max_width">
								<option>Algorithms and Complexity</option>
								<option>Architecture and Organization</option>
								<option>Computational Science</option>
								<option>Digital Signal Processing</option>
								<option>Discrete Structure</option>
								<option>Embedded and Control System</option>
								<option>General Computer Science</option>
								<option>Robotics</option>
								<option>Software Engineering</option>
								<option>Graphics and Visual Computing</option>
								<option>Human-Computer Interaction</option>
								<option>Information Management</option>
								<option>Intelligent Systems</option>
								<option>Net-centric Computing</option>
								<option>Operating Systems</option>
								<option>Programming Languages</option>
								<option>Social and Professional Issues</option>
								<option>Others: Please specify</option>
							</select>
						</div>
					</div>
					<br>
					<div style="padding-left: 15px;" class="form-group">
						<button id="increase" type="submit" class="btn btn-default">Increase Level</button>
						<button id="decrease" type="submit" class="btn btn-default">Decrease Level</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="addThesisGroup">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add Thesis Group Record</h4>
			</div>
			<form id="add" class="form">
				<div class="modal-body">
					<div class="row">
						<div class="row">
							<div class="col-xs-6">
								<label for="thesisiddummy">Thesis Group ID: </label>
								<label name="thesisiddummy"><u>12345678</u></label>
								<input type="hidden" name="id" required>
								<input type="hidden" name="proposal_abstract" required>
								<input type="hidden" name="final_abstract" required>
							</div>
						</div>
						<div class="form-group">
							<label for="primary_name">Title: </label>
							<input type="text" class="form-control max_width" name="primary_name" required>
						</div>
						<div class="form-group">
							<label for="secondary_name">Secondary Title: </label>
							<input type="text" class="form-control max_width" name="secondary_name" required>
						</div>
						<div class="form-group">
							<label for="description">Description: </label>
							<input type="text" class="form-control max_width" name="description" required>
						</div>
						<div class="form-group">
							<label for="faculty_id">Adviser: </label>
							<select name="faculty_id" class="form-control" >
								<option>Ballon, Alexie E</option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="save" type="submit" class="btn btn-default">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>