<div class="row">
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<label for="CourseId">Course Code: </label>
				<label for="CourseId"><u>CS</u></label>
				<br>
				<label for="proponentlist">Proponent List: </label>
				<select id="proponentlist" multiple class="faculty form-control">
					<option></option>
				</select>
			</div>
		</div>
	</div>

	<div class="col-xs-5">
		<div style="width: 60%;margin: 0 auto;" class="row">
			<form id="updateStudent" class="form">
				<div class="panel panel-default">
					<div class="panel-heading">Student Information</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="StudentId">Student ID: </label>
							<label name="StudentId"><u>12345</u></label>
						</div>
						<div class="form-group">
							<label for="name">Name: </label>
							<label name="name"><u>Lo, Patrick T.</u></label>
						</div>
						<div class="form-group">
							<label >Grade: </label>
							<div class="row">
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" id="optionsRadios1" checked="checked"> No grade yet
									</label>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-2">
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios2"> 4.0
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios3"> 3.5
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios4"> 3.0
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios5"> 2.5
										</label>
									</div>
								</div>

								<div class="col-xs-2">
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios6"> 2.0
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios7"> 1.5
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios8"> 1.0
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios9"> 0.0
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<button id="update" type="submit" class="btn btn-default">Update Student Grade</button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div style="width: 60%;margin: 0 auto;" class="row">
			<form id="updateThesis" class="form">
				<div class="panel panel-default">
					<div class="panel-heading">Group Information</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="thesisId">Thesis ID: </label>
							<label name="thesisId"><u>12345</u></label>
						</div>
						<div class="form-group">
							<label for="name">Name: </label>
							<label name="name"><u>NA</u></label>
						</div>
						<div class="form-group">
							<label >Grade: </label>
							<div class="row">
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" id="optionsRadios1" checked="checked"> No grade yet
									</label>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-2">
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios2"> 4.0
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios3"> 3.5
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios4"> 3.0
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios5"> 2.5
										</label>
									</div>
								</div>

								<div class="col-xs-2">
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios6"> 2.0
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios7"> 1.5
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios8"> 1.0
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios9"> 0.0
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<button id="update" type="submit" class="btn btn-default">Update All</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>