<div class="panel panel-default">
	<div class="panel-heading">Information</div>
	<div class="panel-body">
	<table class="table table-bordered">
		<tr>
			<td>User ID</td>
			<td></td>
		</tr>
		<tr>
			<td>Full Name</td>
			<td></td>
		</tr>
		<tr>
			<td>Email</td>
			<td></td>
		</tr>
		<tr>
			<td>Rank</td>
			<td></td>
		</tr>
		<tr>
			<td>Contact Information</td>
			<td></td>
		</tr>
	</table>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Areas and Percentages of Expertise</div>
	<div class="panel-body">
	<table class="table table-bordered">
		<tr>
			<td>...</td>
			<td>100%</td>
		</tr>
	</table>
	</div>
</div>